<section>
  <h1>Lista de Orçamentos</h1>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.name %></td>
        <td><%= proposal.mail %></td>
        <td><%= proposal.phone %></td>
        <td><%= proposal.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
